<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{ $styles := resources.Get "scss/main.scss" | toCSS }}
{{/*  {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}  */}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">


{{ if .Site.Params.Author }}<meta name="author" content="{{ .Site.Params.Author }}">{{ end }}
{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ else if .IsPage }}<meta name="description" content="{{ .Summary }}">{{ else if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
